 
 
 body {
    padding: 0;
    margin: 0;
 }
 
 .Calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background: linear-gradient(to right, grey, white);

 }

 .Calculator-grid-display {
    border: 5px solid white;
    background-color: whitesmoke;
    grid-template-rows: 120px, auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    height: 5vh;
  }


 .Calculator-grid-body {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    border: 5px solid white;
    font-size: 2rem;

 }

 .Calculator-grid-body button {
    text-align: center; 
    cursor: pointer;
    font-size: 2rem;
    border-radius: 10px;
 }

 .Calculator-grid-body button:hover {
    background-color: grey;
 }

  .Calculator-grid-body button:active {
    background-color: goldenrod;
 }

